/*Common settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
header {
    margin:auto;
    background-color: black;
    height: 120px;
    padding-top: 45px;
}

#menu {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 17px;

}

#menu:hover {
    text-decoration: underline;
  }

#accedi:hover {
    box-shadow: 0 0 5px white;
}

#accedi {
    width: 100px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-left: 200px;
    
}

/*Rows and Columns*/
.row {
    width: 80%;
    margin: auto;
    display: flex;

}

.col-1 {
    width: calc(100% / 12 * 1);

}

.col-2 {
    width: calc(100% / 12 * 2);

}

.col-3 {
    width: calc(100% / 12 * 3);

}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-6 {
    width: calc(100% / 12 * 6);

}

.col-8 {
    width: calc(100% / 12 * 8);

}

.col-9 {
    width: calc(100% / 12 * 9);

}

/*Cover*/
.cover {
    background-image: url(../img/cover-back-def.jpg);
    height: 600px;
}

.nitro-1-pad {
    padding: 150px;
}

.nitro-1-caption {
    color: white;
    padding-top: 30px;
}

.nitro-1-buttons {
    padding-top: 30px;
    vertical-align: middle;
}

#usd-year {
    border: none;
    background-color: rgb(22, 11, 37);
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    font-size: 23px;
    vertical-align: middle;
}

#usd-month {
    border: none;
    background-color: rgb(22, 11, 37);
    color: white;
    width: 230px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    vertical-align: middle;
}

#usd-year:hover, #usd-month:hover {
    box-shadow: 0 0 10px black;

}