/*Common settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
header {
    margin:auto;
    background-color: transparent;
    height: 120px;
    padding-top: 45px;
}

#menu {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 17px;

}

#menu:hover {
    text-decoration: underline;
  }

#accedi:hover {
    box-shadow: 0 0 5px white;
}

#accedi {
    width: 100px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-left: 200px;
    
}

/*Rows and Columns*/
.row {
    width: 80%;
    margin: auto;
    display: flex;

}

.col-1 {
    width: calc(100% / 12 * 1);

}

.col-2 {
    width: calc(100% / 12 * 2);

}

.col-3 {
    width: calc(100% / 12 * 3);

}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-6 {
    width: calc(100% / 12 * 6);

}

.col-8 {
    width: calc(100% / 12 * 8);

}

.col-9 {
    width: calc(100% / 12 * 9);

}

/*Cover*/
.cover {
    background-image: url(../img/cover-back-def.jpg);
    height: 750px;
    margin-top: -125px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.nitro-1-pad {
    padding: 200px;
    padding-top: 250px;
}

.nitro-1-caption {
    color: white;
    padding-top: 30px;
}

.nitro-1-buttons {
    padding-top: 30px;
    vertical-align: middle;
}

#usd-year {
    border: none;
    background-color: rgb(22, 11, 37);
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    font-size: 23px;
    vertical-align: middle;
}

#usd-month {
    border: none;
    background-color: rgb(22, 11, 37);
    color: white;
    width: 230px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    vertical-align: middle;
}

#usd-year:hover, #usd-month:hover {
    box-shadow: 0 0 10px black;

}

/*Main*/
.main-container {
    padding: 100px;
}

.main-title {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    line-height: 95%;
}

.main-para {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

.row-spacing {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.gradient-green {
    background:linear-gradient(142.53deg,#00a295,#26e8f4 98.75%),#3dcda7 ;

}

.gradient-blue {
    background:linear-gradient(321.82deg,#21f2ff,#4181ff 59.22%,#4475ff 98.02%),#7196ff;

}

.gradient-violet {
    background: linear-gradient(138.46deg,#3e70ff 1.48%,#9a98ff 98.75%),#ff73fa;

}

.gradient-blue-violet {
    background: linear-gradient(141.85deg,#7e7bff,#ff73fa);

}

.gradient-rose {
    background: linear-gradient(141.48deg,#f837ee 1.35%,#ffcd4b);

}

.gradient-orange {
    background: linear-gradient(321.73deg,#ffcd4b -1.09%,#ee6315 100.65%);

}

.square-size {
    height: 350px;  
    width: 400px;
    border-radius: 30px;
}

.sub-row-spacing {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}